extends layout

block content
    h1=article.title
    h6 Written By #{article.author}
    p=article.body
    hr 
    a.btn(href='/article/edit/'+article._id) Edit
    
    a.btn.waves-effect.waves-light.btn-small.delete-article(data-id=article._id) Delete
