doctype html
html
    head
        title Knowledge Base
        link(rel="stylesheet", href="/bower_components/materialize/dist/css/materialize.css")
        link(rel="stylesheet", href="/css/main.css")
        
    body
        nav
            .nav-wrapper
                a.brand-logo(href='/') Knowledge Base
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='/') Home
                    li
                        a(href='/articles/add') Add Articles
                  


  

    .container
        block content
        br
        hr
        footer.page-footer
            .footer-copyright
                .container
                    |  Copyright © 2018
    script(src="/bower_components/jquery/dist/jquery.js")
   
    script(src="/js/main.js")
